exportPattern("^[[:alpha:]]+")
import("tcltk", "terra")

importFrom("tcltk",
           "tclVar",
           "tclvalue",
           "tclvalue<-",
           "tkchooseDirectory",
           "tkdestroy",
           "tkentry",
           "tkframe",
           "tkgetOpenFile",
           "tkgrid",
           "tklabel",
           "tkmessageBox",
           "tktitle<-",
           "tktoplevel",
           "tkwm.title")
importFrom("tcltk2",
           "tk2button",
           "tk2entry")
importFrom("terra",
           "global",
           "rast",
           "as.factor",
           "classify",
           "writeRaster",
           "plot")
importFrom("grDevices",
           "rainbow",
           "topo.colors",
           "dev.new")
importFrom("graphics", "legend")
importFrom("utils",
           "read.csv",
           "write.table")
